:root {
    --while-color: #fff;
    --back-color: #000;
    --text-color: #333;
    --primary-color: #fa9e1b;
    --boder-color: #dbdbdb;
    --star-gold-color:#ffce3d;
    --bg-btn: linear-gradient(to right, #fa9e1b, #fa9e1b, #8d4fff);
    --bg-btn-hover: linear-gradient(to right,#8d4fff , #fa9e1b);
    --bg-while:#fff;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Beyond';
    src: url(asset/font/FontsFree-Net-Beyond.ttf);
}



